@media (min-width: 768px) {
    hr.margin40 {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .form-group-clear{
        width: 100%;
        height: 5px;
    }
}
div.errorMessage {
    color:red;
}
.errorInput {
    border: 1px solid #FF8080;
}
div.alert-error {
    background-color: #FFD6D6;
}
.left-15{
    margin-left: 15px;
}
.btn-gray {
    color: #fff;
    background-color: #A2A2A2!important;
    border-color: #A2A2A2!important;
}
.recall-form{
    width: 300px;
    height: auto;
}
.recall-input{
    padding: 0px 25px;
}
.form-group-recall{
    width:100%;
    margin-bottom: 10px;
}
.recall-div-button{
    margin-bottom: 20px;
    text-align: center;
}
.recall-header{
    text-align: center;
}
.succes-message{
    margin-top: 20px;
    text-align: center;
    font-size: 12pt;
}
.show-sub-menu{
	right: 86px!important;
	display:block!important;
}
@media screen and (max-width: 767px){
	body .row-offcanvas-right .sidebar-offcanvas {
		display:none;
	}
}

body .carousel-caption {
    border-radius: 12px;
}

.carousel-caption {
    /*background-color: #777777;
    opacity: 0.8;
	background-image: url('/web/images/caption.png');*/
}

.none-back-png {
	/*background-image: none;
    background-color: #777777;
    opacity: 0.8;*/
}

.carousel-caption  h1, .carousel-caption  p{
    opacity: 1;
}


.carousel-indicators {
    bottom: -20px!important;
}


body .carousel-caption .my {
    text-shadow: none!important;
}
.container form{
	margin-bottom: 120px;
}
.container form#eventday-form  {
	margin-bottom: 10px;
}

