/*Назания страниц сверху*/
.jumbotron{
    border: solid;
    border-color: lightblue;
    background-color: lightblue;
}

.jumbotron h1{
    color: white;
}

/*Меню сайта*/

/*.navbar-default{
    background-color: lightblue;
}

.navbar-default .navbar-nav > li > a{
    color: white;
}

.navbar-default .navbar-nav > .active > a{
    background-color: white;
    color: black;
}*/
