body{
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
}

/*Стили для списков в виде красной точки с достаточными отступами*/
.list{
    font-size: 19px;
}

.list li::before{
    float: left;
    width: 10px;
    height: 10px;
    content: ' ';
    display: block;
    border-radius: 50%;
    margin: 8px 0 0 -32px;
    background-color: #e9392c;
}

.sublist li::before{
    float: left;
    width: 8px;
    height: 8px;
    content: ' ';
    display: block;
    border-radius: 50%;
    margin: 8px 0 0 -20px;
    background-color: firebrick;
}

.list li{
    margin: 15px 0;
    padding-left: 32px;
    list-style-type: none;
}

.sublist li{
    margin: 10px 0;
    font-size: 18px;
}

/*Красивые подчеркнутые заголовки*/
/*.underlined-header {
    border-bottom: 2px solid red;
}*/

.underlined-header
{
    margin: 25px 0;
}

.donate p{
    float: left;
    font-size: 18px;
}

/*Contraind*/
.contraind-list li::before{
    float: left;
    width: 8px;
    height: 8px;
    content: ' ';
    display: block;
    border-radius: 50%;
    margin: 8px 0 0 -32px;
    background-color: #e9392c;
}


.contraind-sublist li::before{
    float: left;
    width: 6px;
    height: 6px;
    content: ' ';
    display: block;
    border-radius: 50%;
    margin: 8px 0 0 -20px;
    background-color: firebrick;
}

.contraind-list{
    font-size: 18px;
}

.contraind-list li{
    padding-left: 32px;
    list-style-type: none;
}

.ATTENTION{
    padding-top: 20px;
    padding-bottom: 20px;
}

/*О донорстве типирование
.typing-block{
    float: left;
    width: 40%;
    display: block;
}

.left-typing-block{
    margin-right: 8%;
}

.left-typing-block{
    margin-left: 65px;
}

.right-typing-block ul{
    margin-right: 20%;
    padding: 0;
    font-size: 14pt;
}

.left-typing-block ul{
    margin-right: 10%;
    padding: 0;
    font-size: 14pt;
}

.typing-header{
    font-size: 18pt;
    width: 100%;
    text-align: left;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.typing-block ul li::before{
    float: left;
    width: 6px;
    height: 6px;
    content: ' ';
    display: block;
    border-radius: 50%;
    margin: 8px 0 0 -20px;
    background-color: red;
}

.typing-block ul li{
    list-style-type: none;
}
*/
h5{
    font-weight: bold;
}

@media screen and (max-width: 650px) {
    .list{
        margin-left: -40px;
    }
    .sublist{
        margin-left: -20px;
    }
    .contraind-list{
        margin-left: -40px;
    }
    .contraind-sublist{
        margin-left: -20px;
    }
}

.brand:hover{
    text-decoration: none;
}

/* Блок О нас */

.about{
    font-size: 19px;
    font-family: "PT Sans", sans-serif;
}

.about.quote{
    border-left: 2px solid #ccc; /* Параметры линии */
    margin-left: 0px; /* Отступ слева */
    padding-left: 10px; /* Расстояние от линии до текста */
}

.about.quote-text, .about.quote-author{
    font-style: italic;
    font-size: 17px;
}

.about-image{
    margin-left: 15%;
    margin-top: 15px;
}