#toTop {
    width:100px;
    border:1px solid #ccc;
    background:firebrick;
    text-align:center;
    padding: 5px;
    position:fixed;
    bottom:20px;
    right:0px;
    cursor:pointer;
    display:none;
    color: white;
    font-family:verdana;
    font-size:13px;
    border-radius: 5px;
    margin-right: 40px;
}