BODY { 
	margin: 0px; 
	padding: 0px;
	font-family: Helvetica, Arial; 
	font-size: 12px; 
	color: #000000; 
	background: #FFFFFF; 
}
a img{
	border: none;
}
TD { 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; 
	color: black; 
} 

TD.bgmain {
	background-image: url(../images/bgmain.gif);
	height: 117px;
}

H1 {
	color: #AF0000;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 10px;
}

TD.white {
	color: white;
	font-size: 11px;

}

TD.small {
	font-size: 10px;
}

TD.darkgreyl {
	width: 25%;
	background-color: #373737;
	border-right: 1px White solid;
}

TD.greyl {
	width: 25%;
	background-color: #777777;
	border-right: 1px White solid;
}

TD.lightgreyl {
	width: 25%;
	background-color: #B8B8B8;
	border-right: 1px White solid;
}

TD.redl {
	width: 25%;
	background-color: #9D0000;
}

TD.title  	{
	font-size: 14px; 
	color:   white; 
	font-weight: bold;
	background-image: url(../images/title.gif);
	height: 29px;
	padding: 0px;
}

TH {
	color: #FFF; 
	background: #932424; 
	font-size: 11px;
}

TD.dark		{ 
	font-size: 11px; 
	color: #000000; 
	background: #D4D4D4; 
	text-align: left;
} 

TD.light    { 
	font-size: 11px;
	color: #000000;
	background: #ECECEC;
	text-align: left;
} 

TD.lights  { 
	font-size: 9px; 
	color:  #00498E; 
	background: #D3E7ED
} 

TD.lighter  { 
	font-size: 11px; 
	color:   #000000; 
	background: #F2F2F2;
}

A, A:link, A:visited { 
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; 
	color: #AF0000; 
	font-weight: bold;
	text-decoration: none; 
}
A:hover    { 
	text-decoration: none; 
}
td.dark	a:hover,
td.light a:hover{
	text-decoration: underline;
}
a.grey, a.grey:link, a.grey:visited {
	color: #9C9C9C;
}

SPAN.small {
	font-size: 10px;
}

SPAN.grey {
	color: #9C9C9C;
}

SPAN.red {
	color: #AF0000;
}

A.error     { 
	font-weight: bold; 
	font-size: 12px;
	color: #ED1015;
	text-decoration: none;
}

A.ok        { 
	font-weight: bold; 
	font-size: 12px;
	color: #127308;
	text-decoration: none;
}


a.menu0, a.menu0:visited, a.menu0:active, a.menu0:link, a.menu0:hover {
	font-size:11px;
	color: #67676B;
	text-transform: uppercase;
	padding-left: 10px;
	background: url(/private/templates/../images/menu.gif) left top no-repeat;
}

a.menu1, a.menu1:visited, a.menu1:active, a.menu1:link, a.menu1:hover {
	font-size:11px;
	color:#B4B4B4;
	font-weight: normal;
	display:block;
	padding-left:10px;
}

a.menu2, a.menu2:visited, a.menu2:active, a.menu2:link, a.menu2:hover {
	font-weight: normal;
}




INPUT { 
	border: 1px solid #B8B8B8; 
	color: #1C2D67; 
	font-size: 12px; 
	z-index : auto; 
}

INPUT.img { 
	border: 0px none; 
	z-index : auto; 
}

SELECT { 
	font-size: 12px; 
	z-index : auto; 
}

div.help {
	position: absolute;
	left:200px;
	top:80px;
	width:400px;
	background-color:white;
	border: 1px Black ridge;
	padding: 5px;
}

/*
A.help,A.help:link,A.help:visited,A.help:hover { font-family: Verdana; font-size: 11px; color: #FFF; font-weight: bold   }

A.s          { font-family: Helvetica, Arial; font-size: 9px; color: #01619B; font-weight: bold }
A.s:link     { font-family: Helvetica, Arial; font-size: 9px; color: #01619B; font-weight: normal; text-decoration: none }
A.s:visited  { font-family: Helvetica, Arial; font-size: 9px; color: #01619B; font-weight: normal; text-decoration: none }
A.s:hover    { font-family: Helvetica, Arial; font-size: 9px; color: #01619B; font-weight: normal; text-decoration: underline }

A.title     	 { font-family: Helvetica, Arial; font-size: 13px; color: #01619B; font-weight: normal   }
A.title:link     { font-family: Helvetica, Arial; font-size: 13px; color: #01619B; font-weight: normal }
A.title:visited  { font-family: Helvetica, Arial; font-size: 13px; color: #01619B; font-weight: normal }
A.title:hover    { font-family: Helvetica, Arial; font-size: 13px; color: #01619B; font-weight: normal }


TD.menu 	{ font-family: Helvetica, Arial; font-size: 20px; color:   #00498E; background: #FFF; }
*/

.order {
	background:#eeeeee;	
	padding: 10px;
	margin: 0px;	
	width:50%;	
}

.order tr.good {
	border: 2px #000000 solid;
}
.order tr.good td {
	border: 1px #000000 solid;
	padding: 5px;
}
.br{
	height:1px;
	background-color: #CDCDCD;
	width: 80%;
	margin: 0px auto 5px auto;
}


.calendar {
	position: relative;
	display: none;
	border-top: 1px solid #fff;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #fff;
	font-size: 11px;
	color: #000;
	cursor: default;
	background: #c8d0d4;
	font-family: tahoma, verdana, sans-serif;
}
.calendar table {
	border: 1px solid #000;
	font-size: 11px;
	color: #000;
	cursor: default;
	background: #eee;
	font-family: tahoma, verdana, sans-serif;
}
.calendar .button {
	text-align: center;
	padding: 1px;
	border: 1px solid #FEFFFF;
}
.calendar .nav {
	background: #CACFD3 url(menuarrow.gif) no-repeat 100% 100%;
}
.calendar thead .title {
	font-weight: bold;
	padding: 1px;
	background: #932424;
	color: #fff;
	text-align: center;
}
.calendar thead .headrow {}
.calendar thead .daynames {}
.calendar thead .name {
	border-bottom: 1px solid #fff;
	padding: 2px 1px;
	text-align: center;
	background: #e8f0f4;
}
.calendar thead .weekend {
	color: #f00;
}
.calendar thead .hilite {
	border-top: 1px solid #fff;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #fff;
	padding: 0px;
	background-color: #d8e0e4;
}
.calendar thead .active {
	padding: 2px 0px 0px 2px;
	border-top: 1px solid #000;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #000;
	background-color: #b8c0c4;
}
.calendar tbody .day {
	width: 2em;
	text-align: right;
	padding: 2px 4px 2px 2px;
	background-color: #fff;
}
.calendar tbody .day .othermonth {
	font-size: 80%;
	color: #aaa;
}
.calendar tbody .day .othermonth .oweekend {
	color: #faa;
}
.calendar table .wn {
	padding: 2px 3px 2px 2px;
	background: #e8f4f0;
}
.calendar tbody .rowhilite td {
	background: #d8e4e0;
}
.calendar tbody .rowhilite td.wn {
	background: #c8d4d0;
}
.calendar tbody td.hilite {
	padding: 1px 3px 1px 1px;
	border: 1px solid;
	border: #fff #000 #000 #fff;
}
.calendar tbody td.active {
	padding: 2px 2px 0px 2px;
	border: 1px solid;
	border: #000 #fff #fff #000;
}
.calendar tbody td.selected {
	font-weight: bold;
	padding: 2px 2px 0px 2px;
	border: 1px solid #A00008;
}
.calendar tbody td.weekend {
	color: #7A7A7A;
}
.calendar tbody td.today {
	font-weight: bold;
	color: #00f;
}
.calendar tbody .disabled {
	color: #999;
}
.calendar tbody .emptycell {
	visibility: hidden;
}
.calendar tbody .emptyrow {
	display: none;
}
.calendar tfoot .footrow {}
.calendar tfoot .ttip {
	background: #932424;
	padding: 1px;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	background: #932424;
	color: #fff;
	text-align: center;
}
.calendar tfoot .hilite {
	border-top: 1px solid #fff;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #fff;
	padding: 1px;
	background: #d8e0e4;
}
.calendar tfoot .active {
	padding: 2px 0px 0px 2px;
	border-top: 1px solid #000;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #000;
}
.calendar .combo {
	position: absolute;
	display: none;
	width: 4em;
	top: 0px;
	left: 0px;
	cursor: default;
	border-top: 1px solid #fff;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #fff;
	background: #d8e0e4;
	font-size: 90%;
	padding: 1px;
	z-index: 100;
}
.calendar .combo .label, .calendar .combo .label-iefix {
	text-align: center;
	padding: 1px;
}
.calendar .combo .label-iefix {
	width: 4em;
}
.calendar .combo .active {
	background: #c8d0d4;
	padding: 0px;
	border-top: 1px solid #000;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #000;
}
.calendar .combo .hilite {
	background: #048;
	color: #aef;
}
.calendar td.time {
	border-top: 1px solid #000;
	padding: 1px 0px;
	text-align: center;
	background-color: #e8f0f4;
}
.calendar td.time .hour, .calendar td.time .minute, .calendar td.time .ampm {
	padding: 0px 3px 0px 4px;
	border: 1px solid #889;
	font-weight: bold;
	background-color: #fff;
}
.calendar td.time .ampm {
	text-align: center;
}
.calendar td.time .colon {
	padding: 0px 2px 0px 3px;
	font-weight: bold;
}
.calendar td.time span.hilite {
	border: #000;
	background-color: #667;
	color: #fff;
}
.calendar td.time span.active {
	border: #f00;
	background-color: #000;
	color: #0f0;
}
.calendar {
	position: absolute;
	visibility: hidden;
	background-color: white;
	font-size: 10px;
	z-index: 100;
	width: 170px;
}
.c_table {
	border-collapse: collapse;
	border: 1px solid #A9BFD4;
	padding: 0px;
	background-color: #F6F4F0;
	font: 9pt sans-serif, arial, helvetica;
	font-weight: normal;
	text-decoration: none;
	color: #888888;
	width: 170px;
}
.c_header {
	background-color: #1A6B91;
	border: 1px solid #A9BFD4;
	color: white;
	font: 10pt sans-serif;
	font-weight: bold;
	text-align: center;
}
.c_next_year {
	background-color: #269AD2;
	width: 13px;
	color: white;
	font: 8pt sans-serif;
	font-weight: bold;
	text-align: center;
}
.c_next_month {
	background-color: #2083B3;
	width: 13px;
	color: white;
	font: 8pt sans-serif;
	font-weight: bold;
	text-align: center;
}
.c_next_year a {
	color: white;
	text-decoration: none;
}
.c_next_month a {
	color: white;
	text-decoration: none;
}
.c_table_weak {
	border-collapse: collapse;
	border: 1px solid #A9BFD4;
	padding: 0px;
	background-color: #F6F4F0;
	font: 9pt sans-serif, arial, helvetica;
	font-weight: normal;
	text-decoration: none;
	color: #888888;
	width: 100%;
}
.c_table_weak td {
	border: 1px solid #A9BFD4;
	text-align: center;
}
.c_weak {
	border: 1px solid #A9BFD4;
	background-color: #CFCAC1;
	color: black;
	font: 8pt sans-serif;
	font-weight: normal;
	text-align: center;
}
.c_nodate {
	background-color: white;
	color: black;
}
.c_current {
	background-color: #BFDCEA;
	color: black;
	font: 9pt sans-serif;
	font-weight: bold;
	text-align: center;
}
.c_current a{
	color: black;
	font-weight: bold;
}
.c_holiday {
	color: #FA8C59;
}
.c_holiday a{
	color: #FA8C59;
}


#screen_menu ul{
	list-style: none;
	background: #F2F2F2;
	padding: 5px 0 5px 0;
	margin: 0;
}
#screen_menu li{
	margin-bottom: 5px;
	overflow: hidden;
}
#screen_menu li a,
#screen_menu li span{
	background: url("../images/menu.gif") no-repeat scroll left top transparent;
	padding-left: 10px;
	color: #67676B;
    font-size: 11px;
    padding-left: 10px;
    text-transform: uppercase;
	white-space: nowrap;
	cursor: pointer;
}
#screen_menu li.main, #screen_menu li.main a{
	font-size: 14px;
	margin-bottom: 10px;
	background-position: 0 2px;

}
#screen_menu ul li ul{
	margin-left: 20px;
}
#screen_menu li.active{
	
}
#screen_menu li.active>a{
	background: #67676B;
	padding: 3px 8px;
	color: #FFF;
	width: 100%;
	display: inline-block;
}
#screen_menu li.activeNonStyle>a{
	background: url("../images/menu.gif") no-repeat scroll left top transparent;
	padding: 0 0 0 10px;
	color: #67676B;
}
#central_content{
	padding: 15px 30px;
	font-size: 12px;
	vertical-align: top;
}
#central_content .container, #content{
	width: auto;
	min-width: 600px;
	margin: 0 auto;
}
#operations{
	float: right;
}
#operations ul li{
	display: inline-block;
	margin: 0 0 15px 10px;
	padding-top: 3px;
	height: 24px;
	white-space: nowrap;
	overflow: hidden;
}
#operations ul li a{
	padding: 4px 10px 6px 10px;
	background: none no-repeat scroll 4px 4px #932424;
	color: #FFF;
	border-radius: 20px;
	/*display: inline-block;	*/
	max-width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
}
#operations ul li a:hover{
	background-color: #DA251D;
}
#operations .operation_ a{
	padding-left: 32px; 
}
#operations .operation_view a{
	background-image: url('../images/icon_view.gif');
	padding-left: 28px; 
}
#operations .operation_create a{
	background-image: url('../images/icon_add.gif');
	padding-left: 28px;
}
#operations .operation_update a{
	background-image: url('../images/icon_edit.gif');
	padding-left: 28px; 
}
#operations .operation_delete a{
	background-image: url('../images/icon_del.gif');
	padding-left: 28px;
}
#operations .operation_admin a{
	background-image: url('../images/icon_list.gif');
	padding-left: 28px;
}
#operations .operation_updateVar a{
	background-image: url('../images/icon_vars.gif');
	padding-left: 28px;
}
#operations .operation_assignments a{
	background-image: url('../images/icon_permissions.gif');
	padding-left: 28px;
}
#operations .operation_permissions a{
	background-image: url('../images/icon_permissions.gif');
	padding-left: 28px;
}
#operations .operation_roles a{
	background-image: url('../images/icon_roles.gif');
	padding-left: 28px;
}
#operations .operation_tasks a{
	background-image: url('../images/icon_tasks.gif');
	padding-left: 28px;
}
#operations .operation_operations a{
	background-image: url('../images/icon_operations.gif');
	padding-left: 28px;
}
#operations .operation_overTime a{
	background-image: url('../images/icon_order_overtime.gif');
	padding-left: 28px;
}
#operations .operation_archive a{
	background-image: url('../images/icon_order_archive.gif');
	padding-left: 32px;
}
#operations .operation_printAll a{
	background-image: url('../images/icon_docs.gif');
	padding-left: 32px;
}


.grid-view table.items{
	width: auto;
	margin: 0 auto;
}
.grid-view .filters input,
.grid-view .filters select{
	width: 100%;
}
.grid-view .filters select{
	max-width: 400px;
}
.linkedDinamicVars{
	border-collapse: collapse;
}
.linkedDinamicVars td{
	text-align: center;
	border-bottom: 1px dashed gray;
	border-right: 1px dashed gray;
}
.linkedDinamicVars td:last-child{
	border-right: none;
}
.linkedDinamicVars th{
	padding: 3px;
}
.linkedDinamicVars th,
.linkedDinamicVars .groupTitle td
.linkedDinamicVars tr:first-child td{
	border: none;
}
.linkedDinamicVars td:first-child{
	text-align: left;
	padding-left: 30px;
}
.linkedDinamicVars .groupTitle td{
	text-align: left;
	padding-left: 0;
}
.linkedDinamicVars tr:hover td{
	background: #ECFBD4;
}

#goodCategorySelector ul{
	list-style: none;
	padding-left: 20px;
}
#goodCategorySelector input[type=checkbox]{
	vertical-align: middle;
}

#central_content .main_form > table{
	margin: 0 auto;
}
.main_form .errorColum{
	min-width: 200px;
}
.main_form .submit-row{
	text-align: center;
}
.main_form .submit-row input[type=submit],
.main_form .submit-row a:link,
.main_form .submit-row a:visited,
.main_form .submit-row a:hover,
.main_form .submit-row button,
.admin_button,
.admin_button:link,
.admin_button:visited{
	border: 1px solid #B8B8B8;
    color: #1C2D67!important;
    font-size: 11px!important;
    z-index: auto;
	background-color: #D4D0C8;
	cursor: default;
	font-weight: normal!important;
	padding: 2px 6px;
	vertical-align: middle;
}
.main_form .submit-row input[type=submit]{
	padding: 0px 6px;
	font-size: 12px!important;
}
.main_form .errorSummary
{
	border: 2px solid #C00;
	padding: 7px 7px 12px 7px;
	margin: 0 0 20px 0;
	background: #FEE;
}

.main_form .errorMessage
{
	color: red;
}

.main_form .errorSummary p
{
	margin: 0;
	padding: 5px;
}

.main_form .errorSummary ul
{
	margin: 0;
	padding: 0 0 0 20px;
}

.main_form div.error input,
.main_form div.error textarea,
.main_form div.error select,
.main_form input.error,
.main_form textarea.error,
.main_form select.error
{
	background: #FEE;
	border-color: #C00;
}

.main_form div.success input,
.main_form div.success textarea,
.main_form div.success select,
.main_form input.success,
.main_form textarea.success,
.main_form select.success
{
	background: #E6EFC2;
	border-color: #C6D880;
}
.main_form select{
	max-width: 800px;
}
.main_form select[multiple=multiple]{
	max-width: 800px;
}
.grid-view-loading{
	opacity: .3;
}
.detail-view{
	margin: 0 auto!important;
	width: auto!important;
	min-width: 600px;
}
table.detail-view th, table.detail-view td{
	font-size: inherit;
}
.grid-view thead th a.asc,
.grid-view thead th a.desc{
	padding-right: 10px;
	background: url(../images/sort.gif) no-repeat scroll right 4px transparent;
}
.grid-view thead th a.asc{
	background-position: right -13px;
}
.grid-view .summary{
	text-align: right;
}
.grid-view .items th a,
.grid-view .items th a:visited{
	color: #FFF;
}
.grid-view .items td,
.grid-view .items th{
	padding: 3px;
}
.grid-view .filters td{
	background: #932424;
}
.grid-view .items tbody .odd td, #container .table-striped > tbody > tr:nth-of-type(odd) td{
	background: #D4D4D4;
}
.grid-view .items tbody .even td, #container .table-striped > tbody > tr:nth-of-type(even) td{
	background: #ECECEC;
}
.grid-view .items tbody .alert td{
	background: #ECEBA3;
}
.grid-view .items tbody tr:hover td, #container .table-striped > tbody > tr:hover td{
	background: #ECFBD4;
}
.grid-view .items tbody tr.selected td, #container .table-striped > tbody > tr.selected td{
	background: #BCE774;
}
.grid-view .pageRowsCounter{
	margin-top: 30px;
	text-align: center;
}
.grid-view .pageRowsCounter input[type=submit]{
	background: url("../images/button_go.gif") no-repeat; 
	border: none; 
	width: 20px; 
	height: 23px; 
	cursor:pointer;
}
.grid-view .pager{
	margin-top: 10px;
	text-align: center;
}
.grid-view td.button-column{
	text-align: right;
	white-space: nowrap;
}

ul.yiiPager a:link,
ul.yiiPager a:visited{
	border-color: #932424;
	color: #932424;
	background: #ECECEC;
}
ul.yiiPager .selected a{
	background: #932424;;
	cursor: default;
	color: #FFF;
}
ul.yiiPager .hidden{
	display: none;
}

.PFileInput img{
	float: left;
	margin-right: 5px;
}

.add-task-link, .add-task-link:visited,
.add-role-link, .add-role-link:visited,
.add-operation-link, .add-operation-link:visited{
	float: right;
	clear: left;
	background: #932424 url('../images/icon_add.gif') no-repeat 4px 4px;
	padding: 4px 10px 6px 28px;
	color: #FFF!important;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

.createAuthItem{
	text-align: center;
}
.address_field p{
	margin: 3px 0;
}
.address_field select, 
.address_field input{
	vertical-align: middle;
	max-width: 170px;
}
.address_field .loading{
	background: url("/images/ajax-loader.gif") no-repeat scroll 1px 1px white;
	color: transparent;
	min-width: 40px;
}
.helpButton{
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url('../images/icon_rowtip.gif') no-repeat -5px 0;
	cursor: help;
}
.helpConteiner{
	position: relative;
}
.helpMessage{
	display: none;
	width: auto;
	max-width: 400px;
	/*min-width: 150px;*/
	white-space: nowrap;
	background: #EEE;
	border: 1px solid #000;
	color: #000;
	font-weight: normal;
	text-align: left;
	padding: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	position: absolute;
	right: 0;
	top: 0;
	
}

.deep0{}
.deep1{padding-left: 20px!important;}
.deep2{padding-left: 40px!important;}
.deep3{padding-left: 60px!important;}
.deep4{padding-left: 80px!important;}
.deep5{padding-left: 100px!important;}
.deep6{padding-left: 120px!important;}
.deep7{padding-left: 140px!important;}
.deep8{padding-left: 160px!important;}
.deep9{padding-left: 180px!important;}


h3.alert{
	color: #ED1015;
	font-size: 16px;
	font-weight: bold;
}
h3.alert span{
	display: inline-block;
	background: url('../images/icon_error.gif') no-repeat left center transparent;
	width: 26px;
	height: 26px;
	margin-bottom: -7px;
	margin-right: 5px;
}

#menuHider{
	vertical-align: top;
}
#menuHider div{
	width: 10px;
	background: #F2F2F2;
	border-radius: 0 0 10px 0;
	cursor: e-resize;
}
#menuHider div:hover{
	background: #ECECEC;
}

.goodGluingItem{
	vertical-align: top;
}
.goodGluingItem div{
	margin-bottom: 10px;
}
.goodGluingItem p{
	padding: 4px;
	margin: 0;
}
.goodGluingItem p input{
	vertical-align: bottom;
}
.goodGluingItem p.unselected{
	background: #FFEEEE;
}
.goodGluingItem p.selected{
	background: #E6EFC2;
}
.goodGluingItem div.unselected{
	border: 2px solid #FFEEEE;
}
.goodGluingItem div.selected{
	border: 2px solid #E6EFC2;
}
/*
.goodGluingItem .detail-view th,
.goodGluingItem .detail-view td{
	background: none;
	color: #000;
}
*/
.subModelsForm th{
	max-width: 100px;
}

.flashMessage{
	background: none repeat scroll 0 0 #F0F0F0;
    border: 2px solid #F7C7C7;
    margin: 0 30px 20px;
    padding: 7px;
}
.flashMessage p{
	margin: 0;
}



#publish_html *{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

#publish_html ol, #publish_html ul {
	list-style: none;
}
#publish_html blockquote, #publish_html q {
	quotes: none;
}
#publish_html blockquote:before, #publish_html blockquote:after,
#publish_html q:before, #publish_html q:after {
	content: '';
	content: none;
}
#publish_html table {
	border-collapse: collapse;
	border-spacing: 0;
}
#publish_html a img {
  border: 0px
}
/* Reset CSS */
@font-face {
  font-family: 'MyriadPro';
  src: url('/css/fonts/MyriadPro-Regular.eot');
  src: local('O'), url('/css/fonts/MyriadPro-Regular.woff') format('woff'), url('/css/fonts/MyriadPro-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'FreeSetBold';
  src: url('/css/fonts/FreeSetCBold.eot');
  src: local('O'), url('/css/fonts/FreeSetCBold.woff') format('woff'), url('/css/fonts/FreeSetCBold.ttf') format('truetype');
}
#publish_html {
  font-family: Tahoma;
  background: #fff;
  padding: 5px;
  max-width: 747px;
}

#publish_html h1 {
  font-family: Tahoma;
  color: #253c5a;
  font-size: 18px;
  border-bottom: 3px solid #9ec40a;
  padding: 0px 0px 5px 5px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px
}
#publish_html h2 {
  font-size: 17px;
  font-family: Tahoma;
  font-weight: bold;
  color:#4e4e4e;
  text-transform: uppercase;
  margin-bottom: 20px
}
#publish_html h3 {
  font-size: 18px;
  font-family: Tahoma;
  color: #3592bb;
  margin-bottom: 10px
}
#publish_html h4 {
  font-family: Tahoma;
  font-size: 14px;
  color: #fff;
  background: #66768b;
  text-transform: uppercase;
  padding: 5px 10px;
  border-bottom: 3px solid #9ec40a;
  margin-bottom: 10px
}
#publish_html h5 {
  font-family: Arial;
  font-size: 15px;
  color: #000;
  margin-bottom: 14px;
  font-weight: bold;
}
#publish_html h6 {
  color: #588ECB;
  font-family: MyriadPro;
  font-size: 24px;	
  margin: 25px 0px 25px 20px	
}
#publish_html p {
  font-size: 12px;
  margin-bottom: 10px
}
#publish_html a {
  font-size: 12px;
  color: #3592bb
}
#publish_html strong{
  font-weight: bold;
}
#publish_html em{
  font-style: italic;	
}
#publish_html blockquote {
  font-size: 12px;
  background: #eaf3cb;
  padding: 15px 35px
}
#publish_html ol, #publish_html ul {
  margin-left: 25px
}
#publish_html ol li {
  list-style: decimal;
  font-size: 12px;
  line-height: 18px
}
#publish_html ul li {
  font-size: 12px;
  margin-bottom: 5px;
  font-family: Arial;
  color: #5f5e5e;
  font-style: italic;
  background: url("/images/marker.png") no-repeat scroll 0px 3px;
  *background-position: 0px 6px;
  padding-left: 15px
}
#publish_html a:hover {
  text-decoration: none
}
#publish_html td, #publish_html th {
  padding: 5px;
  border: 1px solid #d2d1d1;
  font-size: 12px
}
#publish_html table.tab1 {

}
#publish_html table.tab1 th {
  background: #253c5a;
  color: #fff;
}
#publish_html table.tab2 {

}
#publish_html table.tab2 th {
  background: #636363;
  color: #fff;
}
.filters span{
	color: #FFF;
}
.ui-autocomplete .ui-menu-item a{
	font-weight: normal;
}
.ui-autocomplete .ui-menu-item a strong{
	font-weight: bold;
}

.role-column{
	text-align: center;
	vertical-align: middle;
}
.role-column span{
	vertical-align: top;
}
th A, th A:link, th A:visited {
    color: #fff;
}
.form-view td, .form-view th {
    padding: 3px;
}
table.form-view {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 1px;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #AF0000;
    border-color: #AF0000;
}
.pagination > li > a, .pagination > li > span,.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #AF0000;
}
.pagination > li > a, .pagination > li > span {
    float: none;
}
